<footer id="footer">
    Copyright &copy; 2018 XSIS Shop

    <ul class="f-menu">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("Index","Customers")">Customer</a></li>
        <li><a href="@Url.Action("Index","Suppliers")">Supplier</a></li>
        <li><a href="@Url.Action("Index","Products")">Product</a></li>
    </ul>
</footer>
